<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="systemaGYMFITNESS.Properties.Settings.bdGYMFITNESS1v1ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bdGYMFITNESS1v1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.net>
        <mailSettings>
          <smtp deliveryMethod="Network" from="softwaregymfitness@gmail.com">
            <network 
              host="smtp.gmail.com"
              port="587"
              defaultCredentials="false"
              enableSsl="true"
              password="gymfitness2019"
              userName="softwaregymfitness@gmail.com" />
          </smtp>
        </mailSettings>
      </system.net>
</configuration>